NODE_ENV="development"

CLIENT_URL="http://localhost:5173"

DATABASE_URL="postgresql://user:password@localhost:5432/dbname"

JWT_SECRET=
JWT_ACCESS_TOKEN_EXPIRATION="15m"
JWT_REFRESH_TOKEN_EXPIRATION="7d"

PORT=3000

RESEND_API_KEY=
MAILER_FROM_NAME=
MAILER_FROM_EMAIL=

CLOUDINARY_CLOUD_NAME="my-cloud-name"
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_ROOT_FOLDER_NAME=